
/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $button-text1;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;

    @media #{$brk-768} {
      padding: 10px 30px;
    }
  }
  
  .default {
    background-color: $color-accent2;
  }
  
  .error {
    background-color: #e4757a;
  }
  
  .info {
    background-color: $button5;
  }
  
  .success {
    background-color: #63cc82;
  }
  
  .warning {
    background-color: #fd7856;
  }
  